<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"/>
<head th:replace="Plantillas/administrador :: head"></head>
<body style="background-color: #F4F4F4;">
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a th:href="@{/homes}" class="logo d-flex align-items-center">
                <img src="/assets/img/logo.svg" alt="" width="200px" heigth="300px">
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->
        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->
                <a class="nav-link nav-icon" href="manual-de-usuario.pdf" download="manual-de-usuario.pdf">
                    <i class="bi bi-journal-bookmark-fill"></i>
                    <span class="badge bg-primary badge-number"></span>
                </a>
                <a class="nav-link nav-icon" href="https://wa.me/573209603212" title="WhatsApp">
                    <i class="bi bi-whatsapp"></i>   
                    <span class="badge bg-primary badge-number"></span>
                </a>
                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img th:src="${userDto.imagen}" th:alt="${userDto.imagen}" class="rounded-circle"/>
                        <span class="d-none d-md-block dropdown-toggle ps-2" th:text="${userdetail.nombre}"></span>
                    </a><!-- End Profile Iamge Icon -->
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6 th:text="${userdetail.nombre}"></h6>
                            <span>Administrador</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center"  th:href="@{/perfil_admin}">
                                <i class="bi bi-person"></i>
                                <span>Mi perfil</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" th:href="@{/ayuda}">
                                <i class="bi bi-question-circle"></i>
                                <span>Nesecitas ayuda?</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" th:href="@{/logout}">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Cerrar sesión</span>
                            </a>
                        </li>
                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->
            </ul>
        </nav><!-- End Icons Navigation -->
    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/homes}">
                    <i class="bi bi-house"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/perfil_admin}">
                    <i class="bi bi-person"></i>
                    <span>Mi perfil</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/cliente}">
                    <i class="bi bi-people"></i>
                    <span>Clientes</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/razas}">
                    <i class="bi bi-hearts"></i>
                    <span>Gestión mascotas</span>
                </a>
            </li> 
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/citasRapidas}">
                    <i class="bi bi-calendar-plus"></i>
                    <span>Citas Rápidas</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/listado}">
                    <i class="bi bi-calendar-event"></i>
                    <span>Gestión citas</span>
                </a>
            </li> 
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/productos}">
                    <i class="bi bi-clipboard-plus"></i>
                    <span>Gestión productos y servicios</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/getCartadmin}">
                    <i class="bi bi-cart4"></i>
                    <span>Carrito</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/verhomeadmin}">
                    <i class="bi bi-coin"></i>
                    <span>Gestión ventas</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/ayuda}">
                    <i class="bi bi-question-circle"></i>
                    <span>Ayuda y soporte</span>
                </a>
            </li>
        </ul>
    </aside>
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Modificar factura</h1>
        </div><!-- End Page Title -->
        <section class="section profile">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab"
                                        data-bs-target="#profile-overview">Modificar</button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2">
                            <div class="container-fluid mt-2">
                                <p class="textoNeon">Modificar Factura</p>
                            </div>
                            <div class="container">
                                <form th:object="${factura}" th:action="@{/editarFactura/{id} (id=${factura.id}) }" method="post">
                                    <div class="card">
                                        <div class="form-group">
                                            <div class="row my-2">
                                                <div class="col-6 ">
                                                    <label>Estado pago:</label>
                                                    <select th:field="*{estadoPago}" class="form-select">
                                                        <option value="Pendiente" th:selected="${factura.estadoPago == 'Pendiente'}">Pendiente</option>
                                                        <option value="Aprobado" th:selected="${factura.estadoPago == 'Aprobado'}">Aprobado</option>
                                                        <option value="Cancelado" th:selected="${factura.estadoPago == 'Cancelado'}">Cancelado</option>
                                                    </select>
                                                </div>
                                                <div class="col-6 ">
                                                    <label>Estado envío:</label>
                                                    <select th:field="*{estadoEnvio}" class="form-select">
                                                        <option value="Pendiente" th:selected="${factura.estadoEnvio == 'Pendiente'}">Pendiente</option>
                                                        <option value="Enviado" th:selected="${factura.estadoEnvio == 'Enviado'}">Enviado</option>
                                                        <option value="Cancelado" th:selected="${factura.estadoEnvio == 'Cancelado'}">Cancelado</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box-footer">
                                            <div class="row my-2">
                                                <div class="d-grid gap-2 col-6">
                                                    <button class="btn btn-success">Modificar</button>
                                                </div>
                                                <div class="d-grid gap-2 col-6">
                                                    <a class="btn btn-danger" href="/verhomeadmin">Cancelar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
            </div>
        </section>
        <div th:replace="Plantillas/administrador :: scripts"></div>
        <!-- Agrega esto en tu HTML donde quieras mostrar el mensaje de error -->
        <!-- Script para mostrar el mensaje de errorfact -->
        <script th:if="${errorfact != null}">
            Swal.fire({
                icon: 'error',
                title: 'No hay suficientes productos para descontar',
                text: 'Verifica la cantidad de tus produtos'
            });
        </script>
        <!-- Script para mostrar el mensaje de error -->
        <script th:if="${error != null}">
            Swal.fire({
                icon: 'error',
                title: 'Esta factura ya fue aprobada'
            });
        </script>
        <script th:if="${errorfactenvio != null}">
            Swal.fire({
                icon: 'error',
                title: 'Para aprobar la factura, el estado de envío debe ser "Enviado"'
            });
        </script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    </main><!-- End #main -->
</body>
</html>
