<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"/>

<head th:replace="~{Plantillas/usuario :: head}">

    <body style="background-color: #F4F4F4">
        <!-- ======= Header ======= -->
        <header id="header" class="header fixed-top d-flex align-items-center">
            <div class="d-flex align-items-center justify-content-between">
                <a class="logo d-flex align-items-center">
                    <img src="/assets/img/logo.svg" alt="" width="200px" heigth="300px">
                </a>
                <i class="bi bi-list toggle-sidebar-btn"></i>
            </div><!-- End Logo -->
            <nav class="header-nav ms-auto">
                <ul class="d-flex align-items-center">
                    <li class="nav-item d-block d-lg-none">
                        <a class="nav-link nav-icon search-bar-toggle " href="#">
                            <i class="bi bi-search"></i>
                        </a>
                    </li><!-- End Search Icon-->
                    <a class="nav-link nav-icon" href="manual-de-usuario.pdf" download="manual-de-usuario.pdf" title="Manual de usuario">
                        <i class="bi bi-journal-bookmark-fill"></i>
                        <span class="badge bg-primary badge-number"></span>
                    </a>
                    <a class="nav-link nav-icon" href="https://wa.me/573209603212" title="WhatsApp" target="_blank">
                        <i class="bi bi-whatsapp"></i>   
                        <span class="badge bg-primary badge-number"></span>
                    </a>
                    <li class="nav-item dropdown pe-3">
                        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                            <img th:src="${userDto.imagen}" th:alt="${userDto.imagen}" class="rounded-circle"/>
                            <span class="d-none d-md-block dropdown-toggle ps-2" th:text="${userdetail.nombre}"></span>
                        </a><!-- End Profile Iamge Icon -->
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                            <li class="dropdown-header">
                                <h6 th:text="${userdetail.nombre}"></h6>
                                <span>Usuario</span>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" th:href="@{/perfil}">
                                    <i class="bi bi-person"></i>
                                    <span  >Mi perfil</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" th:href="@{/ayudausuario}">
                                    <i class="bi bi-question-circle"></i>
                                    <span>Nesecitas ayuda?</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a  class="dropdown-item d-flex align-items-center " th:href="@{/logout}">
                                    <i class="bi bi-box-arrow-right"></i>
                                    <span sec:authorize="isAuthenticated"> Cerrar sesión</span>
                                </a>
                            </li>
                        </ul><!-- End Profile Dropdown Items -->
                    </li><!-- End Profile Nav -->
                </ul>
            </nav><!-- End Icons Navigation -->
        </header><!-- End Header -->
        <!-- ======= Sidebar ======= -->
        <aside id="sidebar" class="sidebar">
            <ul class="sidebar-nav" id="sidebar-nav">
                <li class="nav-item">
                    <a class="nav-link collapsed" th:href="@{/home}">
                        <i class="bi bi-house"></i>
                        <span>Inicio</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" th:href="@{/perfil}">
                        <i class="bi bi-person"></i>
                        <span >Mi perfil</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" th:href="@{/mascotasUsuarios}">
                        <i class="bi bi-hearts"></i>
                        <span>Mis mascotas</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" th:href="@{/citas}">
                        <i class="bi bi-chat-quote"></i>
                        <span>Citas</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" th:href="@{/verhome}">
                        <i class="bi bi-bag-plus"></i>
                        <span>Productos y servicios</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" th:href="@{/getCart}">
                        <i class="bi bi-cart4"></i>
                        <span>Carrito de compras</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" th:href="@{/comprasUser}">
                        <i class="bi bi-bag-check"></i>                            <span>Compras</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" th:href="@{/ayudausuario}">
                        <i class="bi bi-question-circle"></i>
                        <span>Centro de ayuda</span>
                    </a>
                </li><!-- End Dashboard Nav -->
            </ul>
        </aside>
        <main id="main" class="main" >

            <div class="pagetitle">
                <h1 style="color: black;">Gestión Productos</h1>

            </div><!-- End Page Title -->

            <section class="section profile">
                <div class="col-xl-12">

                    <div class="card">
                        <div class="card-body pt-3">
                            <!-- Bordered Tabs -->
                            <ul class="nav nav-tabs nav-tabs-bordered">

                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab"
                                            data-bs-target="#profile-overview">Ver Todos</button>
                                </li>
                            </ul>
                            <div class="tab-content pt-2">

                                <div class="table-responsive">
                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-lg-6 col-md-12 ">
                                                <form class="form-inline" method="post" th:action="@{/buscar}">
                                                    <div class="form-group">
                                                        <input type="text" name="palabra" placeholder="Search" id="palabra" autocomplete="off">

                                                            &nbsp;&nbsp;
                                                            <input id="buscar" type="submit" class="btn btn-outline-success" value="Buscar">

                                                                </div>

                                                                </form>
                                                                </div>
                                                                </div>
                                                                <div class="row mt-5">

                                                                    <div class="col-12 col-md-4 col-lg-4 d-flex justify-content-center" th:each="producto: ${productos}" th:if="${producto.activos}">
                                                                        <div class="alimentos card m-4 m-md-4 m-lg-2" style="width: 20rem;">
                                                                            <img th:src="@{/images/{img} (img=${producto.imagen})}" class="card-img-top"
                                                                                 alt="..." style="height: 180px;">
                                                                                <div class="card-body">
                                                                                    <h5 class="card-title text-center" th:text="${producto.categoria != null ? producto.categoria.nombre : 'N/A'}"></h5>
                                                                                    <p class="card-text text-center" th:text="${producto.nombre}"> </p>
                                                                                    <p class="precioProducto card-text text-center" th:text="${producto.precio}"></p>
                                                                                    <p class="card-stock text-center">
                                                                                        <!-- Usar expresión Thymeleaf para mostrar "Activo" o "Inactivo" -->
                                                                                        <span th:if="${producto.activo}">Disponible</span>
                                                                                        <span th:if="${not producto.activo}">Inactivo</span>
                                                                                    </p>

                                                                                    <div class="text-center">
                                                                                        <a th:href="@{/productohome/{id} (id=${producto.id})}" class="btn btn-primary btn-sm">
                                                                                            Ver productos</a>
                                                                                    </div>
                                                                                </div>
                                                                        </div>
                                                                    </div>





                                                                </div>

                                                                </div>

                                                                </div>
                                                                </div>
                                                                </div>
                                                                </div>
                                                                </section>

                                                                <div th:replace="Plantillas/usuario :: scripts"></div>
                                                                <script th:if="${exitofacturauser != null}">
                                                                    Swal.fire({
                                                                        icon: 'success',
                                                                        title: 'Compra efectuada con éxito.'

                                                                    });
                                                                </script>
                                                                <script th:inline="javascript">
                                                                    /*<![CDATA[*/
                                                                    document.addEventListener("DOMContentLoaded", function () {
                                                                        // Obtener todas las etiquetas <p> con la clase "precioProducto"
                                                                        var precioProductoElements = document.querySelectorAll('.precioProducto');

                                                                        // Iterar sobre cada etiqueta y aplicar el formateo
                                                                        precioProductoElements.forEach(function (element) {
                                                                            // Obtener el valor del precio del contenido de la etiqueta <p>
                                                                            var valorPrecio = element.textContent.trim();

                                                                            // Si el valor es válido, formatear y actualizar el contenido de la etiqueta <p>
                                                                            if (!isNaN(valor)) {
                                                                                var valorFormateado = valor.toLocaleString('es-CO', {
                                                                                    style: 'decimal',
                                                                                    minimumFractionDigits: 0,
                                                                                    maximumFractionDigits: 0
                                                                                });
                                                                                element.textContent = valorFormateado;
                                                                            }
                                                                        });
                                                                    });
                                                                    /*]]>*/
                                                                </script>
                                                                <!-- Importa SweetAlert -->
                                                                <link th:href="@{/webjars/sweetalert2/11.1.9/sweetalert2.min.css}" rel="stylesheet" />
                                                                <script th:src="@{/webjars/sweetalert2/11.1.9/sweetalert2.all.min.js}"></script>

                                                                <!-- En tu vista -->
                                                                <script th:if="${mostrarAlerta}">
                                                                    Swal.fire({
                                                                        title: '¡Atención!',
                                                                        text: 'Tus datos personales están incompletos. Por favor, edita tus datos para ofrecerte un mejor servicio.',
                                                                        icon: 'warning',
                                                                        showCancelButton: true,
                                                                        confirmButtonText: 'Ir a modificar',
                                                                        cancelButtonText: 'Más tarde'
                                                                    }).then((result) => {
                                                                        if (result.isConfirmed) {
                                                                            window.location.href = '/perfil';
                                                                        }
                                                                    });
                                                                </script>

                                                                <script th:inline="javascript">
                                                                    /*<![CDATA[*/
                                                                    document.addEventListener("DOMContentLoaded", function () {
                                                                        // Obtener todas las etiquetas <p> con la clase "precioProducto"
                                                                        var precioProductoElements = document.querySelectorAll('.precioProducto');

                                                                        // Iterar sobre cada etiqueta y aplicar el formateo
                                                                        precioProductoElements.forEach(function (element) {
                                                                            // Obtener el valor del precio del contenido de la etiqueta <p>
                                                                            var valorPrecio = element.textContent.trim();

                                                                            // Parsear el valor del precio a un número flotante
                                                                            var valor = parseFloat(valorPrecio);

                                                                            // Si el valor es válido, formatear y actualizar el contenido de la etiqueta <p>
                                                                            if (!isNaN(valor)) {
                                                                                var valorFormateado = valor.toLocaleString('es-CO', {
                                                                                    style: 'decimal',
                                                                                    minimumFractionDigits: 0,
                                                                                    maximumFractionDigits: 0
                                                                                });
                                                                                element.textContent = valorFormateado;
                                                                            }
                                                                        });
                                                                    });
                                                                    /*]]>*/
                                                                </script>

                                                                </main><!-- End #main -->
                                                                </body>
                                                                </html>
