<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"/>

<head th:replace="Plantillas/usuario :: head"></head>

<body style="background-color: #F4F4F4">
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a class="logo d-flex align-items-center">
                <img src="/assets/img/logo.svg" alt="" width="200px" heigth="300px">
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->
        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->
                <a class="nav-link nav-icon" href="manual-de-usuario.pdf" download="manual-de-usuario.pdf" title="Manual de usuario">
                    <i class="bi bi-journal-bookmark-fill"></i>
                    <span class="badge bg-primary badge-number"></span>
                </a>
                <a class="nav-link nav-icon" href="https://wa.me/573209603212" title="WhatsApp" target="_blank">
                    <i class="bi bi-whatsapp"></i>   
                    <span class="badge bg-primary badge-number"></span>
                </a>
                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img th:src="${userDto.imagen}" th:alt="${userDto.imagen}" class="rounded-circle"/>
                        <span class="d-none d-md-block dropdown-toggle ps-2" th:text="${userdetail.nombre}"></span>
                    </a><!-- End Profile Iamge Icon -->
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6 th:text="${userdetail.nombre}"></h6>
                            <span>Usuario</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" th:href="@{/perfil}">
                                <i class="bi bi-person"></i>
                                <span  >Mi perfil</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" th:href="@{/ayudausuario}">
                                <i class="bi bi-question-circle"></i>
                                <span>Nesecitas ayuda?</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a  class="dropdown-item d-flex align-items-center " th:href="@{/logout}">
                                <i class="bi bi-box-arrow-right"></i>
                                <span sec:authorize="isAuthenticated"> Cerrar sesión</span>
                            </a>
                        </li>
                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->
            </ul>
        </nav><!-- End Icons Navigation -->
    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/home}">
                    <i class="bi bi-house"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/perfil}">
                    <i class="bi bi-person"></i>
                    <span >Mi perfil</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/mascotasUsuarios}">
                    <i class="bi bi-hearts"></i>
                    <span>Mis mascotas</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/citas}">
                    <i class="bi bi-chat-quote"></i>
                    <span>Citas</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/verhome}">
                    <i class="bi bi-bag-plus"></i>
                    <span>Productos y servicios</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/getCart}">
                    <i class="bi bi-cart4"></i>
                    <span>Carrito de compras</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/comprasUser}">
                    <i class="bi bi-bag-check"></i>                            <span>Compras</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/ayudausuario}">
                    <i class="bi bi-question-circle"></i>
                    <span>Centro de ayuda</span>
                </a>
            </li><!-- End Dashboard Nav -->
        </ul>
    </aside>
    <main id="main" class="main" >

        <div class="pagetitle">
            <h1 style="color: black;">Compra de productos</h1>
        </div><!-- End Page Title -->

        <section class="section profile">
            <div class="col-xl-12">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab"
                                        data-bs-target="#profile-overview">Factura</button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2">

                            <div class="container-fluid mt-2">
                                <p class="textoNeonU">Resumen de la Factura</p>
                            </div>

                            <div class="row mt-5">
                                <form th:action="@{/saveFact}" method="post" enctype="multipart/form-data" onsubmit="return validarPago()">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-9">
                                                <div class="card-body">
                                                    <h5 class="card-title">
                                                        DATOS FACTURA
                                                    </h5>
                                                    <h6 th:text=" 'Nombre: '+ ${usuario.nombre}"></h6>
                                                    <h6 th:text="'Correo: '+  ${usuario.username}"></h6>
                                                    <h6 th:text="'Dirección: '+ ${usuario.direccion}"></h6>

                                                    <h5 class="card-title">
                                                        PRODUCTOS
                                                    </h5>
                                                    <div class="alert alert-light" role="alert">
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">Producto</th>
                                                                        <th scope="col">Precio</th>
                                                                        <th scope="col">Cantidad</th>
                                                                        <th scope="col">Total</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr th:each="dtfactura : ${cart}">
                                                                        <td th:text="${dtfactura.nombre}"></td>
                                                                        <td th:text="${dtfactura.precio}" class="precio2"></td>
                                                                        <td th:text="${dtfactura.cantidad}" class="cantidadProducto"></td>
                                                                        <td th:text="${dtfactura.total}" class="precio2"></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-3">
                                                <h2 class="card-title">Resumen Factura</h2>
                                                <ul class="list-group">
                                                    <li class="list-group-item"><h5 id="precioProducto" th:text="${factura.total} "> </h5></li>

                                                    <li class="list-group-item">
                                                        <h6>Método de Pago:</h6>
                                                        <div class="form-check" th:each="metodoDePago : ${metodosDePago}">
                                                            <input class="form-check-input" type="radio" name="metodoPago" th:id="${'metodoPago' + metodoDePago.id}" th:value="${metodoDePago.id}">
                                                                <label class="form-check-label" th:for="${'metodoPago' + metodoDePago.id}" th:text="${metodoDePago.nombre}" th:data-cuenta="${metodoDePago.cuenta}"></label>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <h6>Número de Cuenta:</h6>
                                                        <span id="numeroCuenta"></span>
                                                    </li>



                                                    <li class="list-group-item">
                                                        <h6>Subir Comprobante:</h6>
                                                        <input type="file" name="img" id="img" class="form-control"  onchange="validarArchivo(this);"  accept=".jpg, .jpeg, .png" >
                                                            <h6 style="margin-top: 5px; font-size: 14px;">Tamaño máximo: 10 MB</h6>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <!-- comment <a th:href="@{saveFactadmin}" class="btn btn-dark">Generar</a> -->

                                                        <button type="submit" class="btn btn-dark">Pagar</button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>


                        </div>

                    </div>

                </div>
            </div>
            </div>
            </div>
        </section>

        <div th:replace="Plantillas/usuario :: scripts"></div>

    </main><!-- End #main -->
</body>
<script th:inline="javascript">
    // JavaScript para manejar eventos de cambio en los botones de radio
    var radios = document.querySelectorAll('input[name="metodoPago"]');
    radios.forEach(function (radio) {
        radio.addEventListener('change', function () {
            var numeroCuenta = this.nextElementSibling.getAttribute('data-cuenta');
            document.getElementById('numeroCuenta').innerText = numeroCuenta;
        });
    });
</script>
<script>
    function validarPago() {
        if (!validarMetodoPago() || !validarComprobante()) {
            return false;
        }

        Swal.fire({
            title: '¿Estás seguro de realizar la compra?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Sí, comprar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                document.forms[0].submit();
            }
        });

        return false;
    }

    function validarMetodoPago() {
        var metodoPagoSeleccionado = document.querySelector('input[name="metodoPago"]:checked');
        if (!metodoPagoSeleccionado) {
            mostrarError('Debe seleccionar un método de pago');
            return false;
        }

        var numeroCuenta = metodoPagoSeleccionado.getAttribute('data-cuenta');
        document.getElementById('numeroCuenta').textContent = 'Número de Cuenta: ' + numeroCuenta;

        return true;
    }

    function validarComprobante() {
        var comprobante = document.getElementById('img').files[0];
        if (!comprobante) {
            mostrarError('Debe subir un comprobante');
            return false;
        }

        return true;
    }

    function mostrarError(mensaje) {
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: mensaje
        });
    }
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener("DOMContentLoaded", function () {
        var precios = document.querySelectorAll('.precio2');

        precios.forEach(function (precioElement) {
            var valorProducto = precioElement.textContent.trim();
            var valor = parseFloat(valorProducto);

            if (!isNaN(valor)) {
                valor = Math.round(valor);
                var valorFormateado = valor.toLocaleString('es-CO', {
                    style: 'currency',
                    currency: 'COP',
                    minimumFractionDigits: 0,
                    maximumFractionDigits: 0
                });
                precioElement.textContent = valorFormateado;
            }
        });
    });
    /*]]>*/
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener("DOMContentLoaded", function () {
        // Obtén el elemento <h5> por su identificador único
        var precioProducto = document.getElementById("precioProducto");

        // Obtén el valor del producto del contenido del elemento <h5>
        var valorProducto = precioProducto.textContent.trim();

        // Parsea el valor del producto a un número flotante
        var valor = parseFloat(valorProducto);

        // Si el valor es válido, formatea y actualiza el contenido del elemento <h5>
        if (!isNaN(valor)) {
            valor = Math.round(valor); // Redondea al entero más cercano
            var valorFormateado = valor.toLocaleString('es-CO', {
                style: 'currency',
                currency: 'COP',
                minimumFractionDigits: 0,
                maximumFractionDigits: 0
            });
            precioProducto.textContent = 'Total Compra: ' + valorFormateado;
        }
    });
    /*]]>*/
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener("DOMContentLoaded", function () {
        // Obtener todas las celdas con la clase "cantidadProducto"
        var cantidadProductoCells = document.querySelectorAll('.cantidadProducto');

        // Iterar sobre cada celda y aplicar el formateo
        cantidadProductoCells.forEach(function (cell) {
            // Obtener el valor de la cantidad del contenido de la celda
            var valorCantidad = cell.textContent.trim();

            // Parsear el valor de la cantidad a un número flotante
            var valor = parseFloat(valorCantidad);

            // Si el valor es válido, eliminar los decimales y actualizar el contenido de la celda
            if (!isNaN(valor)) {
                var valorSinDecimales = Math.trunc(valor); // Eliminar los decimales
                cell.textContent = valorSinDecimales;
            }
        });
    });
    /*]]>*/
</script>

<script th:inline="javascript">
    function validarArchivo(input) {
        var file = input.files[0];
        var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i; // Extensiones permitidas
        var maxSize = 10 * 1024 * 1024; // Tamaño máximo (en bytes)

        if (file) {
            // Validar extensión
            if (!allowedExtensions.exec(input.value)) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Por favor, seleccione un archivo con una extensión válida (.jpg, .jpeg, .png).'
                });
                input.value = '';
                return false;
            }

            // Validar tamaño
            if (file.size > maxSize) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'El tamaño del archivo excede el límite permitido de 10 MB.'
                });
                input.value = '';
                return false;
            }
        }
    }
</script>

</html>
