<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"/>

<head th:replace="~{Plantillas/administrador :: head}"></head>

<body style="background-color: #5DADE2;">

    <!-- ======= Header ======= -->
    <header th:replace="~{Plantillas/administrador :: header}"></header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside th:replace="~{Plantillas/administrador :: sidebar}"></aside><!-- End Sidebar-->

    <main id="main" class="main" >
        <div class="pagetitle">
            <h1>Citas</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="inicio_vet.html">Inicio</a></li>
                    <li class="breadcrumb-item">citas</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
        <section class="section profile">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#cita">Citas</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#facturas">Consultar Historial</button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2">
                            <div class="tab-pane fade show active pt-3" id="cita">
                                <!--Citas del dia-->
                                <div class="container-fluid mt-3">
                                    <p style="background-color: #5DADE2;" class="textoNeon">Citas</p>
                                </div>
                                <div class="table-responsive">
                                    <table id="tabla-listar" class="table table-striped table-hover text-start">
                                        <thead>
                                            <tr class="table-secondary">
                                                <th scope="col">N°</th>
                                                <th scope="col">Dueño</th>
                                                <th scope="col">Veterinario</th>
                                                <th scope="col">Cita</th>
                                                <th scope="col">Mascota</th>
                                                <th scope="col">Precio</th>
                                                <th scope="col">Fecha inicio</th>
                                                <th scope="col">Estado</th>
                                                <th scope="col">Opción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="citas,iterStat : ${listadoCitas} "> <!-- "citas" es la variable que recibe cada uno de los onbjetos de la lista mandados desde el backend con la variable llamada listadoCitas -->
                                                <td th:text="${iterStat.index + 1}"></td>
                                                <td th:text="${citas.nombreDueño}"></td>
                                                <td th:text="${citas.nombreVeterinario}"></td> <!-- Mostrar el nombre del veterinario -->
                                                <td th:text="${citas.nombreCita}"></td>
                                                <td th:text="${citas.nombreMascota}"></td>
                                                <td th:text="${citas.precio}"></td>
                                                <td th:text="${citas.formattedFecha}"></td>
                                                <td th:text="${citas.estado}" th:classappend="${citas.estado eq 'completado' ? 'text-success' : 'text-danger' }"></td>
                                                <td>
                                                    <a  th:href="@{'/citasRapidas/finalizar/' + ${citas.id}}" class="btn btn-primary">Finalizado</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- End citas -->
                            <!-- Inicio historial -->
                            <div class="tab-pane fade pt-3" id="facturas">
                                <div class="container-fluid mt-3">
                                    <p style="background-color: #5DADE2;" class="textoNeon">Historial citas rapidas</p>
                                </div>
                                <div class="container-fluid">
                                    <div class="table-responsive">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="search-bar">
                                                    <form class="search-form d-flex align-items-center" method="POST" action="#">
                                                        <input type="date" name="date"  title="Enter search keyword">
                                                            <button class="btn" type="submit" title="Search"><i class="bi bi-search"></i></button>
                                                    </form>
                                                </div>
                                                <br>
                                                    <!-- Inicio tabla histotial -->
                                                    <table id="tabla-historial" class="table table-striped table-hover text-start">
                                                        <thead>
                                                            <tr class="table-secondary">
                                                                <th scope="col">N°</th>
                                                                <th scope="col">Dueño</th>
                                                                <th scope="col">Cita</th>
                                                                <th scope="col">Mascota</th>
                                                                <th scope="col">Tipo</th>
                                                                <th scope="col">Precio</th>
                                                                <th scope="col">Fecha inicio</th>
                                                                <th scope="col">Fecha Fin</th>
                                                                <th scope="col">Estado</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr th:each="citas,iterStat : ${listadoCitas}">
                                                                <td th:text="${iterStat.index + 1}"></td>
                                                                <td th:text="${citas.nombreDueño}"></td>
                                                                <td th:text="${citas.nombreCita}"></td>
                                                                <td th:text="${citas.nombreMascota}"></td>
                                                                <td th:text="${citas.especie.nombre}"></td>
                                                                <td th:text="${citas.precio}"></td>
                                                                <td th:text="${citas.formattedFecha}"></td>
                                                                <td th:text="${citas.formattedFechaFin}"></td>
                                                                <td style="color: green" th:text="${citas.estado}"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- End tab-content-->
                    </div>  <!-- End card-body pt-3-->
                </div><!-- End card -->
            </div>  <!-- End col-xl-12 -->
        </section> <!-- End section -->
        <div th:replace="~{Plantillas/administrador :: scripts}"></div>
    </main><!-- End #main -->
</body>
</html>