<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"/>

<head th:replace="~{Plantillas/administrador :: head}"></head>

<body style="background-color: #F4F4F4;">

    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a th:href="@{/homes}" class="logo d-flex align-items-center">
                <img src="./assets/img/logo.svg" alt="Logo" width="200px" height="300px">
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle" href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->
                <li class="nav-item">
                    <a class="nav-link nav-icon" href="manual-de-usuario.pdf" download="manual-de-usuario.pdf">
                        <i class="bi bi-journal-bookmark-fill"></i>
                        <span class="badge bg-primary badge-number"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-icon" href="https://wa.me/573209603212" title="WhatsApp">
                        <i class="bi bi-whatsapp"></i>   
                        <span class="badge bg-primary badge-number"></span>
                    </a>
                </li>
                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img th:src="${userDto.imagen}" th:alt="${userDto.imagen}" class="rounded-circle"/>
                        <span class="d-none d-md-block dropdown-toggle ps-2" th:text="${userdetail.nombre}"></span>
                    </a><!-- End Profile Image Icon -->
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6 th:text="${userdetail.nombre}"></h6>
                            <span>Administrador</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" th:href="@{/perfil_admin}">
                                <i class="bi bi-person"></i>
                                <span>Mi perfil</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" th:href="@{/perfil_admin}">
                                <i class="bi bi-gear"></i>
                                <span>Configuracion de la Cuenta</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-question-circle"></i>
                                <span>¿Necesitas ayuda?</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" th:href="@{/logout}">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Salir</span>
                            </a>
                        </li>
                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->
            </ul>
        </nav><!-- End Icons Navigation -->
    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/homes}">
                    <i class="bi bi-house"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/perfil_admin}">
                    <i class="bi bi-person"></i>
                    <span>Mi perfil</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/cliente}">
                    <i class="bi bi-people"></i>
                    <span>Clientes</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/razas}">
                    <i class="bi bi-hearts"></i>
                    <span>Gestión mascotas</span>
                </a>
            </li> 
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/citasRapidas}">
                    <i class="bi bi-calendar-plus"></i>
                    <span>Citas Rápidas</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/listado}">
                    <i class="bi bi-calendar-event"></i>
                    <span>Gestión citas</span>
                </a>
            </li> 
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/productos}">
                    <i class="bi bi-clipboard-plus"></i>
                    <span>Gestión productos y servicios</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/getCartadmin}">
                    <i class="bi bi-cart4"></i>
                    <span>Carrito</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/verhomeadmin}">
                    <i class="bi bi-coin"></i>
                    <span>Gestión ventas</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/ayuda}">
                    <i class="bi bi-question-circle"></i>
                    <span>Ayuda y soporte</span>
                </a>
            </li>
        </ul>
    </aside>

    <main id="main" class="main" >
        <div class="pagetitle">
            <h1>Citas</h1>
        </div><!-- End Page Title -->
        <section class="section profile">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#cita">Citas</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#facturas">Consultar Historial</button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2">
                            <div class="tab-pane fade show active pt-3" id="cita">
                                <!--Citas del dia-->
                                <div class="container-fluid mt-3">
                                    <p style="background-color: #5DADE2;" class="textoNeon">Citas</p>
                                </div>
                                <div class="table-responsive">
                                    <table id="tabla-listar" class="table table-striped table-hover text-start">
                                        <thead>
                                            <tr class="table-secondary">
                                                <th scope="col">N°</th>
                                                <th scope="col">Dueño</th>
                                                <th scope="col">Veterinario</th>
                                                <th scope="col">Cita</th>
                                                <th scope="col">Mascota</th>
                                                <th scope="col">Precio</th>
                                                <th scope="col">Fecha inicio</th>
                                                <th scope="col">Estado</th>
                                                <th scope="col">Opción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="citas,iterStat : ${listadoCitas} "> <!-- "citas" es la variable que recibe cada uno de los onbjetos de la lista mandados desde el backend con la variable llamada listadoCitas -->
                                                <td th:text="${iterStat.index + 1}"></td>
                                                <td th:text="${citas.nombreDueño}"></td>
                                                <td th:text="${citas.nombreVeterinario}"></td> <!-- Mostrar el nombre del veterinario -->
                                                <td th:text="${citas.nombreCita}"></td>
                                                <td th:text="${citas.nombreMascota}"></td>
                                                <td th:text="${citas.precio}"></td>
                                                <td th:text="${citas.formattedFecha}"></td>
                                                <td th:text="${citas.estado}" th:classappend="${citas.estado eq 'completado' ? 'text-success' : 'text-danger' }"></td>
                                                <td>
                                                    <a  th:href="@{'/citasRapidas/finalizar/' + ${citas.id}}" class="btn btn-primary">Finalizado</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- End citas -->
                            <!-- Inicio historial -->
                            <div class="tab-pane fade pt-3" id="facturas">
                                <div class="container-fluid mt-3">
                                    <p style="background-color: #5DADE2;" class="textoNeon">Historial citas rapidas</p>
                                </div>
                                <div class="container-fluid">
                                    <div class="table-responsive">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="search-bar">
                                                    <form class="search-form d-flex align-items-center" method="POST" action="#">
                                                        <input type="date" name="date"  title="Enter search keyword">
                                                            <button class="btn" type="submit" title="Search"><i class="bi bi-search"></i></button>
                                                    </form>
                                                </div>
                                                <br>
                                                    <!-- Inicio tabla histotial -->
                                                    <table id="tabla-historial" class="table table-striped table-hover text-start">
                                                        <thead>
                                                            <tr class="table-secondary">
                                                                <th scope="col">N°</th>
                                                                <th scope="col">Dueño</th>
                                                                <th scope="col">Cita</th>
                                                                <th scope="col">Mascota</th>
                                                                <th scope="col">Tipo</th>
                                                                <th scope="col">Precio</th>
                                                                <th scope="col">Fecha inicio</th>
                                                                <th scope="col">Fecha Fin</th>
                                                                <th scope="col">Estado</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr th:each="citas,iterStat : ${listadoCitas}">
                                                                <td th:text="${iterStat.index + 1}"></td>
                                                                <td th:text="${citas.nombreDueño}"></td>
                                                                <td th:text="${citas.nombreCita}"></td>
                                                                <td th:text="${citas.nombreMascota}"></td>
                                                                <td th:text="${citas.especie.nombre}"></td>
                                                                <td th:text="${citas.precio}"></td>
                                                                <td th:text="${citas.formattedFecha}"></td>
                                                                <td th:text="${citas.formattedFechaFin}"></td>
                                                                <td style="color: green" th:text="${citas.estado}"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- End tab-content-->
                    </div>  <!-- End card-body pt-3-->
                </div><!-- End card -->
            </div>  <!-- End col-xl-12 -->
        </section> <!-- End section -->
        <div th:replace="~{Plantillas/administrador :: scripts}"></div>
    </main><!-- End #main -->
</body>
</html>