<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"/>
<head th:replace="~{Plantillas/administrador :: head}"></head>
<body style="background-color: #F4F4F4;">
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a th:href="@{/homes}" class="logo d-flex align-items-center">
                <img src="./assets/img/logo.svg" alt="Logo" width="200px" height="300px">
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->
        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle" href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->
                <li class="nav-item">
                    <a class="nav-link nav-icon" href="manual-de-usuario.pdf" download="manual-de-usuario.pdf">
                        <i class="bi bi-journal-bookmark-fill"></i>
                        <span class="badge bg-primary badge-number"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-icon" href="https://wa.me/573209603212" title="WhatsApp">
                        <i class="bi bi-whatsapp"></i>   
                        <span class="badge bg-primary badge-number"></span>
                    </a>
                </li>
                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img th:src="@{${'images/' + userdetail.imagen}}" th:alt="${userdetail.imagen}" class="rounded-circle"/>
                        <span class="d-none d-md-block dropdown-toggle ps-2" th:text="${userdetail.nombre}"></span>
                    </a><!-- End Profile Image Icon -->
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6 th:text="${userdetail.nombre}"></h6>
                            <span>Administrador</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" th:href="@{/perfil_admin}">
                                <i class="bi bi-person"></i>
                                <span>Mi perfil</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" th:href="@{/ayuda}">
                                <i class="bi bi-question-circle"></i>
                                <span>¿Necesitas ayuda?</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" th:href="@{/logout}">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Cerrar sesión</span>
                            </a>
                        </li>
                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->
            </ul>
        </nav><!-- End Icons Navigation -->
    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/homes}">
                    <i class="bi bi-house"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/perfil_admin}">
                    <i class="bi bi-person"></i>
                    <span>Mi perfil</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/cliente}">
                    <i class="bi bi-people"></i>
                    <span>Clientes</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/razas}">
                    <i class="bi bi-hearts"></i>
                    <span>Gestión mascotas</span>
                </a>
            </li> 
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/citasRapidas}">
                    <i class="bi bi-calendar-plus"></i>
                    <span>Citas Rápidas</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/listado}">
                    <i class="bi bi-calendar-event"></i>
                    <span>Gestión citas</span>
                </a>
            </li> 
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/productos}">
                    <i class="bi bi-clipboard-plus"></i>
                    <span>Gestión productos y servicios</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/getCartadmin}">
                    <i class="bi bi-cart4"></i>
                    <span>Carrito</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/verhomeadmin}">
                    <i class="bi bi-coin"></i>
                    <span>Gestión ventas</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/ayuda}">
                    <i class="bi bi-question-circle"></i>
                    <span>Ayuda y soporte</span>
                </a>
            </li>
        </ul>
    </aside>
    <main id="main" class="main" >
        <div class="pagetitle">
            <h1>Ayuda y soporte</h1>
        </div><!-- End Page Title -->
        <section class="section profile">
            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">
                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Ayuda</button>
                        </li>
                    </ul>
                    <div class="tab-content pt-2">
                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                            <div class="container">
                                <div class="card">
                                    <div class="card-header text-center">
                                        <h2><strong>¡Bienvenido a nuestro servicio de ayuda!</strong></h2>
                                    </div>
                                    <br>
                                        <div class="card-body" style="text-align: justify;">
                                            <p >
                                                En GesVet, nos esforzamos por brindar la mejor
                                                asistencia posible a nuestros clientes. Si necesitas ayuda con
                                                cualquier pregunta, inquietud o problema relacionado con nuestros
                                                servicios, ¡estamos aquí para ayudarte! Puedes comunicarte con nosotros a través de los siguientes medios:
                                            </p>
                                            <ul>
                                                <li>Envía un correo electrónico a <a  href="mailto:soportegesvet@gmail.com">soportegesvet@gmail.com</a>.</li>
                                                <li>Contáctanos mediante nuestro número de WhatsApp en el siguiente enlace: <a  href="https://wa.me/573209603212">3209603212</a></li>
                                                <li>Visítanos en nuestra ubicación: <a href="https://www.google.com/maps/place//data=!4m2!3m1!1s0x8e3b7556abf75161:0x2082687f92bdb438">GesVet</a></li>
                                            </ul>
                                        </div>
                                </div>
                            </div>
                            <div style="display: flex; justify-content: center; align-items: center;">
                                <img src="https://www.gifsanimados.org/data/media/202/perro-imagen-animada-0638.gif" border="0" alt="perro-imagen-animada-0638" />    
                            </div>
                        </div>
                    </div>
                </div><!-- End Bordered Tabs -->
            </div>
        </section>
        <div th:replace="~{Plantillas/administrador :: scripts}"></div>
    </main><!-- End #main -->
</body>
</html>