<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"/>

<head th:replace="~{Plantillas/usuario :: head}">
</head>

<body  style="background-color: #2FC0D5;">

    <!-- ======= Header ======= -->
    <header th:replace="~{Plantillas/usuario :: header}"></header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside th:replace="~{Plantillas/usuario :: sidebar}"></aside><!-- End Sidebar-->
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Centro de ayuda</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="inicio.html">Inicio</a></li>
                    <li class="breadcrumb-item">Centro de ayuda</li>
                    <li class="breadcrumb-item">Ayuda</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section profile">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab"
                                    data-bs-target="#profile-overview">Ayuda</button>
                        </li>
                    </ul>
                    <div class="tab-content pt-2">
                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <div class="container">
                                    <div class="card">
                                        <div class="card-header text-center">
                                            <h2><strong>¡Bienvenido a nuestro centro de ayuda!</strong></h2>
                                        </div>
                                        <br>
                                            <div class="card-body" style="text-align: justify;">
                                                <p >
                                                    En GesVet, nos esforzamos por brindar la mejor
                                                    asistencia posible a nuestros clientes. Si necesitas ayuda con
                                                    cualquier pregunta, inquietud o problema relacionado con nuestros
                                                    servicios, ¡estamos aquí para ayudarte! Puedes comunicarte con nosotros a través de los siguientes medios:
                                                </p>

                                                <ul >
                                                    <li>Envía un correo electrónico a <a href="mailto:somosgesvet@gmail.com">somosgesvet@gmail.com</a>.</li>
                                                    <li>Contáctanos mediante nuestro número de WhatsApp en el siguiente enlace: <a  href="https://wa.me/573209603212">3209603212</a></li>
                                                    <li>Visítanos en nuestra ubicación: <a href="https://www.google.com/maps/place//data=!4m2!3m1!1s0x8e3b7556abf75161:0x2082687f92bdb438">GesVet</a></li>

                                                </ul>


                                            </div>
                                    </div>

                                </div>
                                <div style="display: flex; justify-content: center; align-items: center;">
                                    <img src="https://www.gifsanimados.org/data/media/202/perro-imagen-animada-0387.gif" border="0" alt="perro-imagen-animada-0387" />                              </div>


                            </div>
                        </div>



                    </div><!-- End Bordered Tabs -->

                </div>
        </section>
        <div th:replace="~{Plantillas/usuario :: scripts}"></div>

    </main><!-- End #main -->


</body>

</html>