<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"/>

    
    <body>
        <aside th:fragment="sidebar" id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="inicio_vet.html">
          <i class="bi bi-house"></i>
          <span>Inicio</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="perfil_vet.html" .html>
          <i class="bi bi-person"></i>
          <span>Perfil</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="clientes.html">
          <i class="bi bi-people"></i>
          <span>Clientes</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="Raza_Especie.html">
          <i class="bi bi-people"></i>
          <span>Gestión mascotas</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="atencion_cita.html">
          <i class="bi bi-people"></i>
          <span>Seguimiento médico</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="citas_vet.html">
          <i class="bi bi-calendar-event"></i>
          <span>Gestión citas</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/productos">
          <i class="bi bi-box2-heart"></i>
          <span>Gestión productos_servicios</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/compras">
          <i class="bi bi-bag-plus"></i>
          <span>Gestión compras</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/ventas">
          <i class="bi bi-bag-plus"></i>
          <span>Gestión ventas</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="gestionveterinaria.html">
          <i class="bi bi-briefcase"></i>
          <span>Gestión veterinaria</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="ayuda.html">
          <i class="bi bi-question-circle"></i>
          <span>Ayuda y soporte</span>
        </a>
      </li>
      <!-- End Profile Page Nav -->

    </ul>
  </aside>
    </body>
</html>
