<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"/>

<head th:replace="~{Plantillas/administrador :: head}"></head>
<style>
    .input-group-addon {
        padding: .375rem .75rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        background-color: #e9ecef;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }
    input[type="text"] {
        width: calc(100% - 48px); /* Restar el ancho del icono más el padding del input-group-addon */
    }
</style>

<body style="background-color: #F4F4F4;">

<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a th:href="@{/homes}" class="logo d-flex align-items-center">
            <img src="./assets/img/logo.svg" alt="Logo" width="200px" height="300px">
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle" href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->
            <li class="nav-item">
                <a class="nav-link nav-icon" href="manual-de-usuario.pdf" download="manual-de-usuario.pdf">
                    <i class="bi bi-journal-bookmark-fill"></i>
                    <span class="badge bg-primary badge-number"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-icon" href="https://wa.me/573209603212" title="WhatsApp">
                    <i class="bi bi-whatsapp"></i>   
                    <span class="badge bg-primary badge-number"></span>
                </a>
            </li>
            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img th:src="@{${'images/' + userdetail.imagen}}" th:alt="${userdetail.imagen}" class="rounded-circle"/>
                    <span class="d-none d-md-block dropdown-toggle ps-2" th:text="${userdetail.nombre}"></span>
                </a><!-- End Profile Image Icon -->
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6 th:text="${userdetail.nombre}"></h6>
                        <span>Administrador</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" th:href="@{/perfil_admin}">
                            <i class="bi bi-person"></i>
                            <span>Mi perfil</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" th:href="@{/perfil_admin}">
                            <i class="bi bi-gear"></i>
                            <span>Configuracion de la Cuenta</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <i class="bi bi-question-circle"></i>
                            <span>¿Necesitas ayuda?</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" th:href="@{/logout}">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Salir</span>
                        </a>
                    </li>
                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->
        </ul>
    </nav><!-- End Icons Navigation -->
</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/homes}">
                <i class="bi bi-house"></i>
                <span>Inicio</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/perfil_admin}">
                <i class="bi bi-person"></i>
                <span>Mi perfil</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/cliente}">
                <i class="bi bi-people"></i>
                <span>Clientes</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/razas}">
                <i class="bi bi-hearts"></i>
                <span>Gestión mascotas</span>
            </a>
        </li> 
        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/citasRapidas}">
                <i class="bi bi-calendar-plus"></i>
                <span>Citas Rápidas</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/listado}">
                <i class="bi bi-calendar-event"></i>
                <span>Gestión citas</span>
            </a>
        </li> 
        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/productos}">
                <i class="bi bi-clipboard-plus"></i>
                <span>Gestión productos y servicios</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/getCartadmin}">
                <i class="bi bi-cart4"></i>
                <span>Carrito</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/verhomeadmin}">
                <i class="bi bi-coin"></i>
                <span>Gestión ventas</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/ayuda}">
                <i class="bi bi-question-circle"></i>
                <span>Ayuda y soporte</span>
            </a>
        </li>
    </ul>
</aside>


    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Gestión clientes</h1>
        </div><!-- End Page Title -->
        <section class="section profile">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- los dos div blancos -->
                    <ul class="nav nav-tabs nav-tabs-bordered">
                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Consultar
                                clientes</button>
                        </li>
                    </ul>
                    <div class="tab-content pt-2">
                        <br>
                            <!-- inicio de Consultar clientes  -->
                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <div class="container-fluid mt-1">
                                    <p class="textoNeon">Clientes</p>
                                </div>
                                <div class="container-fluid">
                                    <div class="table-responsive">
                                        <div class="card-body">
                                            <div class="search-bar">
                                                <!-- comment     <form class="search-form d-flex align-items-center">

                                                    <div class="input-group mb-3">
                                                        <div class="input-group-addon">
                                                            <i class="bi bi-search"></i>
                                                        </div>
                                                        <input type="text" name="query" class="form-control" placeholder="Buscar cliente" title="Enter search keyword">
                                                    </div>
                                                </form>--> 
                                            </div>

                                            <table class="table table-striped table-hover text-start">
                                                <thead>
                                                    <tr>
                                                        <th>N°</th>
                                                        <th scope="col" class="text-center">Email</th>
                                                        <th scope="col">Nombre</th>
                                                        <th scope="col">Apellido</th>
                                                        <th scope="col">Dirección</th>
                                                        <th scope="col">Teléfono</th>
                                                        <th scope="col">Mascotas</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- Iterar sobre la lista de usuarios y mostrar cada uno -->
                                                    <tr th:each="usuario,iterStat : ${usuarios}">
                                                        <td th:text="${iterStat.index + 1}"></td>
                                                        <td th:text="${usuario.username}"></td>
                                                        <td th:text="${usuario.nombre}"></td>
                                                        <td th:text="${usuario.apellido}"></td>
                                                        <td th:text="${usuario.direccion}"></td>
                                                        <td th:text="${usuario.telefono}"></td>
                                                        <!-- Iterar sobre la lista de mascotas asociadas a este usuario -->
                                                        <td>
                                                            <button class="btn" style="background-color: #2FD6B4" 
                                                                    th:attr="data-usuario-id=${usuario.id}"
                                                                    onclick="mostrarMascotas(this.getAttribute('data-usuario-id'))">Ver</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>                              
                                        </div> <!-- End card-body -->
                                    </div><!-- End table-responsive -->
                                </div><!-- End container-fluid -->
                            </div> <!-- final de Consultar clientes  -->
                    </div>  <!-- End tab content  -->
                </div> <!-- End card-body pt-3 -->
            </div><!-- End card -->
        </section><!-- End section -->
        <div th:replace="~{Plantillas/administrador :: scripts}"></div>
    </main><!-- End #main -->
    <script th:inline="javascript">
        function mostrarMascotas(userId) {
            window.location.href = '/cliente/mascotas?userId=' + userId;
        }
    </script>
</body>
</html>