<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"/>

<head th:replace="~{Plantillas/administrador :: head}"></head>

<body style="background-color: #5DADE2;">

    <!-- ======= Header ======= -->
    <header th:replace="~{Plantillas/administrador :: header}"></header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside th:replace="~{Plantillas/administrador :: sidebar}"></aside><!-- End Sidebar-->

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Consultas</h1>
            <nav>
                <ol class="breadcrumb">

                    <li class="breadcrumb-item"><a href="inicio.html">Inicio</a></li>
                    <li class="breadcrumb-item">Consultas</li>
                    <li class="breadcrumb-item">Clientes</li>


                </ol>
            </nav>
        </div><!-- End Page Title -->

        <div class="pagetitle">

            <nav>

            </nav>
        </div><!-- End Page Title -->

        <section class="section profile">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- los dos div blancos -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Consultar
                                clientes</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">
                                Consultar mascotas</button>
                        </li>
                    </ul>
                    <div class="tab-content pt-2">
                        <br>
                            <!-- inicio de Consultar clientes  -->

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <div class="container-fluid mt-3">
                                    <p class="textoNeon">Clientes</p>
                                </div>
                                <div class="container-fluid">
                                    <div>
                                        <!--diseño negro-->
                                        <div class="table-responsive">
                                            <div class="card-body">
                                                <div class="search-bar">
                                                    <form class="search-form d-flex align-items-center">
                                                        <input type="text" name="query" placeholder="Buscar cliente" title="Enter search keyword">
                                                            <button class="btn" type="submit" title="Search"><i class="bi bi-search"></i></button>
                                                    </form>
                                                </div>

                                                <!-- Inicio Tabla -->
                                                <table class="table table-striped text-start table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Nombre</th>
                                                            <th scope="col">Apellidos</th>
                                                            <th scope="col">Identificación</th>
                                                            <th scope="col">Teléfono</th>
                                                            <th scope="col">Dirección</th>
                                                            <th scope="col">Email</th>
                                                            <th scope="col">Mascotas</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Andrea</td>
                                                            <td>Rojas</td>
                                                            <td>55190519</td>
                                                            <td>3144378402</td>
                                                            <td>Av los angeles</td>
                                                            <td>andrea@gmail.com2</td>
                                                            <td>
                                                                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                                                        data-bs-target="#staticBackdrop" data-target="staticBackdrop"><img
                                                                        src="./img/imagen_cliente_cita/perro.png" height="30px" width="30px">
                                                                </button>

                                                                <!-- Modal editar fila 1-->
                                                                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                                                     data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                                                     aria-hidden="true">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header" style="background: #9FAFE8;">
                                                                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Ver mascotas
                                                                                </h1>
                                                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                                        aria-label="Close"></button>
                                                                            </div>
                                                                            <div class="modal-body">

                                                                                <img src="./img/imagen_cliente_cita/perro.png" class="mx-auto d-block img-fluid"
                                                                                     style="height: 100px; width: 100px;">
                                                                                    <div class="row my-2">

                                                                                        <div class="col-6">
                                                                                            <label class="form-label">Nombre:</label>
                                                                                            <input class="form-control" type="text" name="txtId" id="txtId" value="David"
                                                                                                   readonly>
                                                                                        </div>
                                                                                        <div class="col-6">
                                                                                            <label class="form-label">Edad:</label>
                                                                                            <input class="form-control" type="text" name="txtId" id="txtId" value="1 año"
                                                                                                   readonly>
                                                                                        </div>

                                                                                    </div>
                                                                                    <div class="row my-2">
                                                                                        <div class="col-6">
                                                                                            <label class="form-label">Género:</label>
                                                                                            <input class="form-control" type="text" name="txtId" id="txtId" value="Macho"
                                                                                                   readonly>
                                                                                        </div>
                                                                                        <div class="col-6">
                                                                                            <label class="form-label">Color:</label>
                                                                                            <input class="form-control" type="text" name="txtId" id="txtId"
                                                                                                   value="Cafe y blanco" readonly>
                                                                                        </div>

                                                                                    </div>
                                                                                    <div class="row my-2">
                                                                                        <div class="col-6">
                                                                                            <label class="form-label">Especie:</label>
                                                                                            <input class="form-control" type="text" name="txtId" id="txtId" value="Perro"
                                                                                                   readonly>
                                                                                        </div>
                                                                                        <!-- boton de descargar el hsitorial medico  -->
                                                                                        <div class="col-6">
                                                                                            <div class="container mt-5">
                                                                                                <h5>Historia médica</h5>
                                                                                                <!-- Botón de descarga -->
                                                                                                <a href="historialMedico.html" class="btn btn-secondary"
                                                                                                   id="descargarHistorial">Descargar</a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td>Maria</td>
                                                            <td>Rojas</td>
                                                            <td>55190519</td>
                                                            <td>3144378402</td>
                                                            <td>Av los angeles</td>
                                                            <td>maria@gmail.com2</td>
                                                            <td>

                                                                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                                                        data-bs-target="#staticBackdrop" data-target="staticBackdrop"><img
                                                                        src="./img/imagen_cliente_cita/feliz.png" height="30px" width="30px">
                                                                </button>
                                                                <!-- Modal editar fila 2-->
                                                                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                                                     data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                                                     aria-hidden="true">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title
                                                                                </h1>
                                                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                                        aria-label="Close"></button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                ...
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-secondary"
                                                                                        data-bs-dismiss="modal">Close</button>
                                                                                <button type="button" class="btn btn-primary">Understood</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- End Bordered Tabs -->
                            </div>
                            <!-- final de Consultar clientes  -->

                            <!-- inicio de consultar mascotas  -->

                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                <div class="container-fluid mt-3">
                                    <p class="textoNeon">Mascotas</p>
                                </div>
                                <form class="search-form d-flex align-items-center">
                                    <input type="text" name="query" placeholder="Buscar mascota" title="Enter search keyword">
                                        <button class="btn" type="submit" title="Search"><i class="bi bi-search"></i></button>
                                        <button class="btn btn-secondary ms-5" type="submit" title="download"><i
                                                class="bi bi-download"></i></button>
                                </form>
                                <br>
                                    <table class="table table-striped text-start table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Foto</th>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Especie</th>
                                                <th scope="col">Color</th>
                                                <th scope="col">Edad</th>
                                                <th scope="col">Género</th>
                                                <th scope="col">Detalles</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><img src="./img/imagen_cliente_cita/perro.png" height="40px" width="40px">
                                                </td>
                                                <td>David</td>
                                                <td>Perro</td>
                                                <td>Cafe y blanco</td>
                                                <td>1 año</td>
                                                <td>Macho</td>
                                                <td>
                                                    <!-- Botón de descarga -->
                                                    <a href="historialMedico.html" class="btn btn-secondary" id="descargarHistorial">Historia</a>
                                                </td>
                                        </tbody>
                                    </table>


                            </div>

                    </div>
                </div>


            </div><!-- End Bordered Tabs -->

            </div>
            </div>
            <!-- final de consultar mascotas  -->
            </div>
        </section>
        <div th:replace="~{Plantillas/administrador :: scripts}"></div>


    </main><!-- End #main -->

</body>

</html>